<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.actu.fr/uploads/2021/01/142489619-233131581751207-2875209039377928422-n.jpg);">
  <div class="row justify-content-center" id="new-machine">
    <div class="col-md-12">
      <div class="form-color"> 
        <h1>Add a new machine</h1>
      </div>
      <%= simple_form_for @machine do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :specifications, as: :check_boxes, collection: ["top grill", "plancha", "barbecue", "raclette", "large number of cups (>10)", "power > 1000 Watts", "accessories", "cable length > 2m"] %>
        <%= f.input :condition, collection: ["new", "very good state", "good state", "satisfactory"] %>
        <%= f.input :address %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>
