<div class="container">
<div class="background-new-machine">
  <div class="row justify-content-center" id="new-machine">
    <div class="col-md-8">
      <h1>Add a new machine</h1>

      <%= simple_form_for @machine do |f| %>
        <%= f.input :name %>
        <%= f.input :category, as: :check_boxes, collection: ["Barbecue", "Fondue", "Pierrade", "Plancha", "Raclette"], include_blank: false, include_hidden: false %>
        <%= f.input :capacity %>
        <%= f.input :specifications, as: :check_boxes, collection: ["large number of cups (>10)", "power > 1000 Watts", "accessories", "cable length > 2m"], include_blank: false, include_hidden: false %>
        <%= f.input :description %>
        <%= f.input :condition, collection: ["Neuf", "Très bon état", "Bon état", "Moyen"] %>
        <%= f.input :address %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
