
<div class="container">
  <div class="row justify-content-around">

    <div class="col-7" id="form-product">
      <div class="product-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @machine.photo.key, crop: :fill %>')"></div>
      <div class="machine-info-row justify-content-around">
      </div>
      <div class="machine-info-row justify-content-around">
        <div class="spef justify-content-start align-middle">
          <div class="icon-align">
            <p>🗺️ <%=@machine.address%></p>
          </div>
          <!-- <p><%=@machine.address%></p> -->
        </div>
        <div class="spef justify-content-start">
        </div>
      </div>
      <div class="pl-1 ml-5 machine-info-row justify-content-around">
        <div class="spef justify-content-start">
          <div class="icon-align">
            <p>🍽️<%=@machine.capacity%></p>
          </div>
        </div>
        <div class="spef justify-content-start">
          <div class="icon-align">
            <p>⚙️<%=@machine.condition%></p>
          </div>
        </div>
        <div class="spef justify-content-start">
          <div class="icon-align">
            <p>💰<%=@machine.price%>€ / j</p>
          </div>
        </div>
      </div>
        <div id="description-font">
          <h4><%= @machine.name %></h4>
          <h4>---</h4>
          <p><%=@machine.description%></p>
        </div>
    </div>
    <div class="col-4 p-0">
      <div id="form-book" class="p-4 sticky-top p-6">
        <h2><strong>Réserver cet appareil</strong></h2>
        <div id="booking-form" data-price="<%= @machine.price %>">
          <%= simple_form_for [@machine, @booking] do |f| %>
            <%= f.input  :start_date, label: "Date de début 📅", as: :string, required: false, input_html: {id: "range_start"} %>
            <%= f.input  :end_date, label: "Date de fin 📅", as: :string, required: false, input_html: {id: "range_end"} %>
            <%= f.button :submit, class: 'w-100 mt-3 btn btn-discover' %>
          <% end %>
        </div>
        <div id="total-amount">
      </div>
      </div>
    </div>
  </div>
  <div id="back-machine"><%= link_to "Retourner à la sélection de machines", machines_path %></div>
</div>











